##################
### MAIN FILES ###
##################
[include mainsail.cfg]
[include config/printer.cfg]
[include config/board_pins.cfg]
[include config/variables.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include config/hardware/extruder.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/heated_bed.cfg]
[include config/hardware/probe.cfg]
[include config/hardware/status_leds.cfg]
[include config/hardware/lights.cfg]
[include config/hardware/temperature_sensors.cfg]
[include config/hardware/XY.cfg]
[include config/hardware/Z.cfg]
[include config/hardware/display.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config/software/bed_mesh.cfg]
[include config/software/firmware_rectraction.cfg]
[include config/software/qgl.cfg]
[include config/software/z_calibration.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/print_base/*.cfg]
[include macros/probing/*.cfg]
[include macros/helpers/*.cfg]
[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.050000, 0.032500, 0.032500, 0.053750, -0.013750
#*# 	  -0.025000, 0.033750, 0.003750, 0.005000, -0.048750
#*# 	  -0.026250, 0.021250, 0.000000, -0.003750, -0.027500
#*# 	  -0.040000, 0.008750, 0.000000, 0.035000, -0.023750
#*# 	  0.001250, 0.051250, 0.048750, 0.040000, 0.040000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
