[z_calibration]
# Physical Z endstop pin position
nozzle_xy_position: 231,350
# Probe switch position on physical endstop
switch_xy_position: 237,324
# Switch offset (default D2F-5: 0.5mm and SSG-5H: 0.7mm)
# Smaller number means higher nozzle to the PEI
# The trigger point offset of the used mag-probe switch.
# Larger values will position the nozzle closer to the bed.
# Decreasing the "switch_offset" will move the nozzle more away from the bed.
switch_offset: 0.5
max_deviation: 0.75
samples: 3
speed: 500
clearance: 5
#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
probing_first_fast: true
start_gcode: ATTACH_PROBE
#before_switch_gcode:
end_gcode: DOCK_PROBE